.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px #000;
    color: black;
}

.event-card-main-info {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: #ED6E33;
}

.event-card-categorie {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 0 40px;
}

.event-card-main-info p {
    display: flex;
    margin: 0;
    color: white;
    font-style: italic;
}

.event-card-main-info h2 {
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
    color: #272C63;
}

.event-card-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #272C63;
}

.event-card-details-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.event-card-details-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.city-name {
    font-size: 1em;
    margin-top: 0;
}