.profile-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0F395A;
}

.profile-detail h1 {
    font-size: 2.5em;
    color: white;
}

.profile-container {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.profile-items {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: bold;
}

.profile-items-values {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-detail button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 40px;
    cursor: pointer;
}